.dark-mode-btn {
    width: 70px;
    height: 70px;
    border: 0;
    position: absolute;
    left: 93vw;
    top: 0.5vh;
    font-size: 0.6rem;
    border-radius: 50px;
}

.dark-mode-btn:hover {
    background: #dcdcdc;
}