.menu {
    background: #003153;
    color: white;
    width: 320px;
    height: 100vh;
}

.mini-menu {
    background: #003153;
    color: white;
    width: 320px;
    height: 100vh;
    margin: 0;
}